<% title(t("menu.writings")) %>
<% if @speaker %>
  <h2><%=t("menu.writings")%> <%=t("attribution",:speaker => @speaker.full_name) %></h2>
  <% if @speaker.videos.count > 0 %>
     <p><%=link_to "#{t("menu.videos")} #{t("attribution", :speaker => @speaker.full_name)}", videos_path(@speaker) %></p>
  <% end %>
  <p><%= link_to "#{t("all_by_speaker")} #{@speaker.full_name}", speaker_path(@speaker) %></p>
<% end %>

<ul class="writing-list">
  <% @writings.each do |w| %>
    <li>
      <%= w.speaker.full_name %> - <%= link_to w.title, "/writings/#{w.id}", :target => "_blank" %>
    </li>
  <% end %>
</ul>  
