<% title(t("menu.writings")) %>
   <div id="intro">
   
      <h3>Escritos de Doug Reid (en Español)</h3>
      <ul>
      <li><a href="<%= WRITINGS_URL %>/ReidDoug/ASUNTOS PRÁCTICOS EN LA ASAMPLEA DE DIOS.pdf">Asuntos Prácticos en la Asamblea de dios</a></li>
      <li><a href="<%= WRITINGS_URL %>/ReidDoug/COMO LLEVAR A UNA PERSONA A CRISTO.pdf">Como Llevar a Una Persona a Cristo</a></li>
      <li><a href="<%= WRITINGS_URL %>/ReidDoug/Cabezas Administrativas en I Corintios 11.pdf">Cabezas Administrativas en I Corintios 11</a></li>
      <li><a href="<%= WRITINGS_URL %>/ReidDoug/EL BAUTISMO del Creyente.pdf">El Bautismo del Creyente</a></li>
      <li><a href="<%= WRITINGS_URL %>/ReidDoug/EL FUNDAMENTO DE LA IGLESIA.pdf">El Fundamento de la Iglesia</a></li>
      <li><a href="<%= WRITINGS_URL %>/ReidDoug/EL RECONOCIMIENTO Y ASIRSE DE LAS PERSONAS DE LA DEIDAD.pdf">El Reconocimiento Y Asirse de las Personas de la Deidad</a></li>
      <li><a href="<%= WRITINGS_URL %>/ReidDoug/EL SACERDOCIO DE LOS VERDADEROS CREYENTES EN CRISTO.pdf">El Sacerdocio de los Verdaderos Creyentes en Cristo</a></li>
      <li><a href="<%= WRITINGS_URL %>/ReidDoug/ESPÍRITU, aliento y espíritu.pdf">ESPÍRITU, aliento y espíritu</a></li>
      <li><a href="<%= WRITINGS_URL %>/ReidDoug/LA DISCIPLINA EN LA CASA DE DIOS.pdf">La Disciplina en la Casa de Dios</a></li>
      <li><a href="<%= WRITINGS_URL %>/ReidDoug/LA IGLESIA EN LOS PROPÓSITOS DE DIOS.pdf">La Iglesia en los Propósitos de Dios</a></li>
      <li><a href="<%= WRITINGS_URL %>/ReidDoug/LA SEGURIDAD DEL VERDADERO CREYENTE EN CRISTO.pdf">La Seguridad del Verdadero Creyente en Cristo</a></li>
      <li><a href="<%= WRITINGS_URL %>/ReidDoug/La Cena del Señor.pdf">La Cena del Señor</a></li>
      <li><a href="<%= WRITINGS_URL %>/ReidDoug/La guía del Espíritu Santo en las Reuniones en Asamblea.pdf">La Guía del Espíritu Santo en las Reuniones en Asamblea</a></li>
      <li><a href="<%= WRITINGS_URL %>/ReidDoug/UNA CASA ESPIRITUAL.pdf">Una Casa Espiritual</a></li>
      </ul>

      <h3>Articles by David Dunlap</h3>
      <ul>
	<li><a href="<%= WRITINGS_URL %>DunlapDavid/expository.html">Expository Preaching</a></li>
	<li><a href="<%= WRITINGS_URL %>DunlapDavid/homebib.htm">Our Home Bible Study Heritage</a></li>
      </ul>
      <h3>Articles by Mark Kolchin</h3>
      <ul>
	<li><a href="<%= WRITINGS_URL %>KolchinMark/Adorning_the_Doctrine_of_God.html">Adorning the Doctring of God</a></li>
	<li><a href="<%= WRITINGS_URL %>KolchinMark/Am_I_Teachable.html">Am I Teachable?</a></li>
	<li><a href="<%= WRITINGS_URL %>KolchinMark/Behind_the_Scenes.html">Behind The Scenes the Day Christ Died</a></li>
	<li><a href="<%= WRITINGS_URL %>KolchinMark/Day_of_Christ_and_the_Day_of_the_Lord.html">Day of Christ and the Day of the Lord</a></li>
        <li><a href="<%= WRITINGS_URL %>KolchinMark/Finishing_the_Course.html">Finishing the Course</a></li>
	<li><a href="<%= WRITINGS_URL %>KolchinMark/How_BIG_are_the_Little_Things.html">How BIG are the Little Things?</a></li>
	<li><a href="<%= WRITINGS_URL %>KolchinMark/Isaac_at_Gerar.html">Isaac at Gerar</a></li>
	<li><a href="<%= WRITINGS_URL %>KolchinMark/Jesus_In_the_Midst.html">Jesus In the Midst</a></li>
	<li><a href="<%= WRITINGS_URL %>KolchinMark/Mixing_the_Ways_of_the_World_with_the_Things_of_God.html">Mixing the Ways of the World With the Things of God</a></li>
	<li><a href="<%= WRITINGS_URL %>KolchinMark/Refreshing_the_Saints.html">Refreshing the Saints</a></li>
	<li><a href="<%= WRITINGS_URL %>KolchinMark/Revive_Us_O_Lord.html">Revive Us, O Lord</a></li>
	<li><a href="<%= WRITINGS_URL %>KolchinMark/Steadfast_in_the_Faith.html">Steadfast in the Faith</a></li>
	<li><a href="<%= WRITINGS_URL %>KolchinMark/The_Rebellion_of_Absalom.html">The Rebellion of Absalom</a></li>
	<li><a href="<%= WRITINGS_URL %>KolchinMark/The_Battle_and_the_Blessing.html">The Battle and the Blessing</a></li>
	<li><a href="<%= WRITINGS_URL %>KolchinMark/The_Cities_of_Refuge.html">The Citites of Refuge</a></li>
	<li><a href="<%= WRITINGS_URL %>KolchinMark/The_Depths_of_God_s_Forgiveness.html">The Depths of God's Forgiveness</a></li>
	<li><a href="<%= WRITINGS_URL %>KolchinMark/The_Strategy_of_the_Enemy.html">The Strategy of the Enemy</a></li>
	<li><a href="<%= WRITINGS_URL %>KolchinMark/The_Work_of_The_Ministry.html">The Work of the Ministry</a></li>
	<li><a href="<%= WRITINGS_URL %>KolchinMark/thetestimonyoftheredeemed.html">The Testimony of the Redeemed</a></li>
	<li><a href="<%= WRITINGS_URL %>KolchinMark/Watching_and_Remembering.html">Watching and Remembering</a></li>
      </ul>
      <h3>Articles de Gaston Racine</h3>
      <ul>
	<li><a href="<%= WRITINGS_URL %>RacineGaston/ConnaissanceOuObeissance.html" title="Lisez en format HTML">Connaissance ou Obéissance?</a> <i>(Knowledge or Obedience?)</i>&nbsp;<a class="iconlink" href="<%= WRITINGS_URL %>RacineGaston/ConnaissanceOuObeissance.pdf" title="Lisez en format PDF" onclick="urchinTracker('/written/RacineGaston/ConnaissanceOuObeissance.pdf');">&nbsp;<%= image_tag("pdf.gif") %></a></li>
	<li><a href="<%= WRITINGS_URL %>RacineGaston/CroyanceouFoi.html" title="Lisez en format HTML">Croyance ou Foi? </a><i>(Belief or Faith?)</i>&nbsp;<a class="iconlink" href="<%= WRITINGS_URL %>RacineGaston/CroyanceouFoi.pdf" title="Lisez en format PDF" onclick="urchinTracker('/written/RacineGaston/CroyanceouFoi.pdf');">&nbsp;<%= image_tag("pdf.gif") %></a></li>
	<li><a href="<%= WRITINGS_URL %>RacineGaston/DieuEst-IlResponsableDuPeche.html" title="Lisez en format HTML">Dieu, Est-Il Responsable Du Péché?</a> <i>(Is God Responsible for Sin?)</i>&nbsp;<a class="iconlink" href="<%= WRITINGS_URL %>RacineGaston/DieuEst-IlResponsableDuPeche.pdf" title="Lisez en format PDF" onclick="urchinTracker('/written/RacineGaston/DieuEst-IlResponsableDuPeche.pdf');">&nbsp;<%= image_tag("pdf.gif") %></a></li>
	<li><a href="<%= WRITINGS_URL %>RacineGaston/DonnezGloireAVotreDieu.html" title="Lisez en format HTML">Donnez Gloire à Votre Dieu!</a> <i>(Give Glory to Your God!)</i>&nbsp;<a class="iconlink" href="<%= WRITINGS_URL %>RacineGaston/DonnezGloireaVotreDieu.pdf" title="Lisez en format PDF" onclick="urchinTracker('/written/RacineGaston/DonnezGloireAVotreDieu.pdf');">&nbsp;<%= image_tag("pdf.gif") %></a></li>
	<li><a href="<%= WRITINGS_URL %>RacineGaston/EnracinesEtEdifiesEnLui.html" title="Lisez en format HTML">Enracinés et Édifiés En Lui</a> <i>(Rooted and Built Up in Him)</i>&nbsp;<a class="iconlink" href="<%= WRITINGS_URL %>RacineGaston/EnracinesEtEdifiesEnLui.pdf" title="Lisez en format PDF" onclick="urchinTracker('/written/RacineGaston/EnracinesEtEdifiesEnLui.pdf');">&nbsp;<%= image_tag("pdf.gif") %></a></li>
	<li><a href="<%= WRITINGS_URL %>RacineGaston/EtreChretien.html" title="Lisez en format HTML">Être Chrétien</a> <i>(Being a Christian)</i>&nbsp;<a class="iconlink" href="<%= WRITINGS_URL %>RacineGaston/EtreChretien.pdf" title="Lisez en format PDF" onclick="urchinTracker('/written/RacineGaston/EtreChretien.pdf');">&nbsp;<%= image_tag("pdf.gif") %></a></li>
	<li><a href="<%= WRITINGS_URL %>RacineGaston/IsraelEtSaDestine.html" title="Lisez en format HTML">Israël et Sa Destinée</a> <i>(Israel and Her Destiny)</i>&nbsp;<a class="iconlink" href="<%= WRITINGS_URL %>RacineGaston/IsraelEtSaDestine.pdf" title="Lisez en format PDF" onclick="urchinTracker('/written/RacineGaston/IsraelEtSaDestine.pdf');">&nbsp;<%= image_tag("pdf.gif") %></a></li>
	<li><a href="<%= WRITINGS_URL %>RacineGaston/L-AtheismePratique.html" title="Lisez en format HTML">L'Athéïsme Pratique</a> <i>(Practical Atheism)</i>&nbsp;<a class="iconlink" href="<%= WRITINGS_URL %>RacineGaston/L-AtheismePratique.pdf" title="Lisez en format PDF" onclick="urchinTracker('/written/RacineGaston/L-AtheismePratique.pdf');">&nbsp;<%= image_tag("pdf.gif") %></a></li>
	<li><a href="<%= WRITINGS_URL %>RacineGaston/LEgliseEtSaDestinee.html" title="Lisez en format HTML">L'Église et Sa Destinée</a> <i>(The Church and Her Destiny)</i>&nbsp;<a class="iconlink" href="<%= WRITINGS_URL %>RacineGaston/LEgliseEtSaDestinee.pdf" title="Lisez en format PDF" onclick="urchinTracker('/written/RacineGaston/LEgliseEtSaDestinee.pdf');">&nbsp;<%= image_tag("pdf.gif") %></a></li>
	<li><a href="<%= WRITINGS_URL %>RacineGaston/LeMondeEtSaDestinee.html" title="Lisez en format HTML">Le Monde et Sa Destinée</a> <i>(The World and It's Destiny)</i>&nbsp;<a class="iconlink" href="<%= WRITINGS_URL %>RacineGaston/LeMondeEtSaDestinee.pdf" title="Lisez en format PDF" onclick="urchinTracker('/written/RacineGaston/LeMondeEtSaDestinee.pdf');">&nbsp;<%= image_tag("pdf.gif") %></a></li>
	<li><a href="<%= WRITINGS_URL %>RacineGaston/LesLeconsDeMarie.html" title="Lisez en format HTML">Les Leçons de Marie</a> <i>(The Lessons of Mary)</i>&nbsp;<a class="iconlink" href="<%= WRITINGS_URL %>RacineGaston/LesLeconsDeMarie.pdf" title="Lisez en format PDF" onclick="urchinTracker('/written/RacineGaston/LesLeconsDeMarie.pdf');">&nbsp;<%= image_tag("pdf.gif") %></a></li>
	<li><a href="<%= WRITINGS_URL %>RacineGaston/LeVraiVisageDeL-Affliction.html" title="Lisez en format HTML">Le Vrai Visage de l'Affliction</a> <i>(The True Face of Affliction)</i>&nbsp;<a class="iconlink" href="<%= WRITINGS_URL %>RacineGaston/LeVraiVisageDeL-Affliction.pdf" title="Lisez en format PDF" onclick="urchinTracker('/written/RacineGaston/LeVraiVisageDeL-Affliction.pdf');">&nbsp;<%= image_tag("pdf.gif") %></a></li>
	<li><a href="<%= WRITINGS_URL %>RacineGaston/L-HommeEtSaDestinee.html" title="Lisez en format HTML">L'Homme et Sa Destinée</a> <i>(Man and His Destiny)</i>&nbsp;<a class="iconlink" href="<%= WRITINGS_URL %>RacineGaston/L-HommeEtSaDestinee.pdf" title="Lisez en format PDF" onclick="urchinTracker('/written/RacineGaston/L-HommeEtSaDestinee.pdf');">&nbsp;<%= image_tag("pdf.gif") %></a></li>
	<li><a href="<%= WRITINGS_URL %>RacineGaston/L-HommeFaceALaMort.html" title="Lisez en format HTML">L'Homme Face à la Mort</a> <i>(Man in Light of Death)</i>&nbsp;<a class="iconlink" href="<%= WRITINGS_URL %>RacineGaston/L-HommeFaceALaMort.pdf" title="Lisez en format PDF" onclick="urchinTracker('/written/RacineGaston/L-HommeFaceALaMort.pdf');">&nbsp;<%= image_tag("pdf.gif") %></a></li>
	<li><a href="<%= WRITINGS_URL %>RacineGaston/L-HommeFaceALaSouffrance.html" title="Lisez en format HTML">L'Homme Face à la Souffrance</a> <i>(Man in Light of Suffering)</i>&nbsp;<a class="iconlink" href="<%= WRITINGS_URL %>RacineGaston/L-HommeFaceALaSouffrance.pdf" title="Lisez en format PDF" onclick="urchinTracker('/written/RacineGaston/L-HommeFaceALaSouffrance.pdf');">&nbsp;<%= image_tag("pdf.gif") %></a></li>
	<li><a href="<%= WRITINGS_URL %>RacineGaston/MediocriteOuSaintete.html" title="Lisez en format HTML">Médiocrité ou Sainteté?</a> <i>(Mediocrasy or Holiness?)</i>&nbsp;<a class="iconlink" href="<%= WRITINGS_URL %>RacineGaston/MediocriteOuSaintete.pdf" title="Lisez en format PDF" onclick="urchinTracker('/written/RacineGaston/MediocriteOuSaintete.pdf');">&nbsp;<%= image_tag("pdf.gif") %></a></li>
	<li><a href="<%= WRITINGS_URL %>RacineGaston/MessageDeDieuauxVeuves.html" title="Lisez en format HTML">Message de Dieu aux Vueves</a> <i>(Message of God to Widows)</i>&nbsp;<a class="iconlink" href="<%= WRITINGS_URL %>RacineGaston/MessageDeDieuauxVeuves.pdf" title="Lisez en format PDF" onclick="urchinTracker('/written/RacineGaston/MessageDeDieuauxVeuves.pdf');">&nbsp;<%= image_tag("pdf.gif") %></a></li>
	<li><a href="<%= WRITINGS_URL %>RacineGaston/OpinionsouConvictions-LaFoi.html" title="Lisez en format HTML">Opinions ou Convictions?</a> <i>(Opinions or Convictions?)</i>&nbsp;<a class="iconlink" href="<%= WRITINGS_URL %>RacineGaston/OpinionsouConvictions-LaFoi.pdf" title="Lisez en format PDF" onclick="urchinTracker('/written/RacineGaston/OpinionsouConvictions-LaFoi.pdf');">&nbsp;<%= image_tag("pdf.gif") %></a></li>
	<li><a href="<%= WRITINGS_URL %>RacineGaston/Peut-OnNaitreDeNouveau.html" title="Lisez en format HTML">Peut-On Naître de Nouveau?</a> <i>(Can We Be Born Again?)</i>&nbsp;<a class="iconlink" href="<%= WRITINGS_URL %>RacineGaston/Peut-OnNaitreDeNouveau.pdf" title="Lisez en format PDF" onclick="urchinTracker('/written/RacineGaston/Peut-OnNaitreDeNouveau.pdf');">&nbsp;<%= image_tag("pdf.gif") %></a></li>
	<li><a href="<%= WRITINGS_URL %>RacineGaston/QuePensezVousDuChrist.html" title="Lisez en format HTML">Que Pensez-Vous du Christ?</a> <i>(What Do You Think Of Christ?)</i>&nbsp;<a class="iconlink" href="<%= WRITINGS_URL %>RacineGaston/QuePensezVousDuChrist.pdf" title="Lisez en format PDF" onclick="urchinTracker('/written/RacineGaston/QuePensezVousDuChrist.pdf');">&nbsp;<%= image_tag("pdf.gif") %></a></li>
	<li><a href="<%= WRITINGS_URL %>RacineGaston/RevolteResigneVainqueur.html" title="Lisez en format HTML">Révolté, Résigné, Vainqueur!</a> <i>(Revolted, Resigned, Victor!)</i>&nbsp;<a class="iconlink" href="<%= WRITINGS_URL %>RacineGaston/RevolteResigneVainqueur.pdf" title="Lisez en format PDF" onclick="urchinTracker('/written/RacineGaston/RevolteResigneVainqueur.pdf');">&nbsp;<%= image_tag("pdf.gif") %></a></li>
	<li><a href="<%= WRITINGS_URL %>RacineGaston/Vivre.html" title="Lisez en format HTML">Vivre</a> <i>(To Live)</i>&nbsp; <a class="iconlink" href="<%= WRITINGS_URL %>RacineGaston/Vivre.pdf" title="Lisez en format PDF" onclick="urchinTracker('/written/RacineGaston/Vivre.pdf');">&nbsp;<%= image_tag("pdf.gif") %></a></li>
      </ul>
    </div>
