<% title("Notes") %>
<% if @speaker %>
  <h2>Notes <%=t("attribution",:speaker => @speaker.full_name) %></h2>
  <% if @speaker.writings.count > 0 %>
     <p><%=link_to "#{t("menu.writings")} #{t("attribution", :speaker => @speaker.full_name)}", writings_path(@speaker) %></p>
  <% end %>
  <% if @speaker.videos.count > 0 %>
     <p><%=link_to "#{t("menu.videos")} #{t("attribution", :speaker => @speaker.full_name)}", videos_path(@speaker) %></p>
  <% end %>
  <p><%= link_to "#{t("all_by_speaker")} #{@speaker.full_name}", speaker_path(@speaker) %></p>
<% end %>

<ul class="notes-list">
  <% @notes.each do |n| %>
    <li>
      <%= "#{n.speaker.full_name} - " unless @speaker %><%= link_to n.title, "/notes/#{n.id}", :target => "_blank" %>,
        <%= link_to pluralize(n.audio_messages.size,t(:message)), "/notes/audio/#{n.speaker_id}/note/#{n.id}" %>
    </li>
  <% end %>
</ul>  
