<tr>
  <td class='audio-control'>
    <%= link_to(
        icon(:arrow_down, :title => 'Download MP3'),
        {:controller => :audio_messages, :action => :show, :id => item, :dl => true}) %>
    <span class='player' onclick="play('<%= url_for(:controller => :audio_messages, :action => :show, :id => item)%>','<%=j item.full_title%>')">
       <%= image_tag 'pixel.gif', :title => 'Play' %>
    </span>
  </td>
  <td class='edit'><%= item.speaker ? item.speaker.catalog_name : "" %></td>
  <td class='edit'><%= item.full_title %></td>
  <td><%= item.human_filesize %></td>
  <td class='edit'><%= item.human_duration %></td>
  <td class='edit'><%= item.human_date %></td>
  <td class='edit'><%= item.place ? item.place.name : "" %></td>
  <td class='edit'><%= item.language ? item.language.name : ""%></td>
</tr>