<tr class='<%=rclass%>'>
  <td>
    <a href="/VFC-GOLD/<%=item.filename%>" title="Download the mp3">
      <img src="/images/listen.gif"/>
    </a>
  </td>
  <!--
  <td class='edit'><%=h item.filename %></td>
  <td class='edit'><%=h item.groupmsg %></td>
  -->
  <td class='edit'><%=h item.speaker %></td>
  <td class='edit'><%=h item.msg %></td>
  <td class='edit'><%=h item.subj %></td>
  <td><%=h item.filesize/1024/1024 %>Mb</td>
  <td class='edit'><%=h item.duration %></td>
  <td class='edit'><%=h item.date %></td>
  <td class='edit'><%=  item.place %></td>
</tr>