<% title("Hymns") %>

	<p><span class="cap">T</span>hese hymns with the exceptions of
	those from the Bristol and Skyland Conference, were recorded
	in the year 1957 for use on the Gospel Center's radio
	broadcast known as <i>Sunday Night Meditations</i>. The Gospel
	Center was one of two New Testament assemblies in Durham,
	N.C. at that time. These of course are not the latest digital
	stereo but are good quality mono. All are thought to be in the
	public domain. If any are possibly found to not be public
	domain, they will be promptly removed. If you feel that you
	are the copyright or royalty owner for any of these, please
	email info@voicesforChrist.org and we will address your
	concerns.</p> <hr />
      </div>

      <div class="leftcol">
	<ul>
          <% @hymns.each do |h| %>
            <li>
               <%= link_to(
                      icon(:arrow_down, :title => 'Download MP3'),
                          {:controller => :hymns, :action => :show, :id => h.id}) %>
               <span class='player' onclick="play('<%= url_for(:controller => :hymns, :action => :show, :id => h.id)%>','<%=j h.title%>')">
                  <%= image_tag 'pixel.gif', :title => 'Play' %>
                </span>
                <%= h.title %>
             </li>
          <% end %>
	</ul>
      </div>

      <div class="rightcol">
	<img src="<%=PHOTOS_URL%>/hymns/gospelcenter-chapelchoir1.gif" alt="Gospel Choir" title="Gospel Choir"/><br />
        <img src="<%=PHOTOS_URL%>/hymns/gospelcenter-building.jpg" alt="Gospel Center" title="Gospel Center"/> <br />
        <img src="<%=PHOTOS_URL%>/hymns/gospelcenterchapel.gif" alt="Gospel Center Chapel" title="Gospel Center Chapel"/>  <br />
        <img src="<%=PHOTOS_URL%>/hymns/gospelcenter-detweiler.jpg" alt="Welcome Detweiler" title="Welcome Detweiler"/><br />
        <img src="<%=PHOTOS_URL%>/hymns/gospelcenter-dr-ironside.jpg" alt="Mr. and Mrs. Ironside" title="Mr. and Mrs. Ironside"/><br />
        <img src="<%=PHOTOS_URL%>/hymns/gospelcenterfront1.JPG" alt="Gospel Center Front" title="Gospel Center Front"/><br />
        <img src="<%=PHOTOS_URL%>/hymns/GOSPELCENTER-MELPIERCE.gif" alt="Mel Pierce" title="Mel Pierce"/><br />
        <img src="<%=PHOTOS_URL%>/hymns/GOSPELCENTER-RADIOCHOIR.JPG" alt="Radio Choir" title="Radio Choir"/> <br />
        <img src="<%=PHOTOS_URL%>/hymns/GOSPELCENTER-SUN1950.gif" alt="A Sunday in 1950" title="A Sunday in 1950"/><br />
        <img src="<%=PHOTOS_URL%>/hymns/gospelcenter-open_day1945.jpg" alt="Gospel Center opening day 1945" title="Gospel Center opening day 1945"/><br />
        <img src="<%=PHOTOS_URL%>/hymns/gospelcenter_view.jpg" alt="Gospel Center view" title="Gospel Center view"/><br />
        <img src="<%=PHOTOS_URL%>/hymns/gospel-center-1951.jpg" alt="Gospel Center 1951" title="Gospel Center 1951"/>
      </div>
