<% title("Hymns") %>

	<p><span class="cap">T</span>hese hymns with the exceptions of
	those from the Bristol and Skyland Conference, were recorded
	in the year 1957 for use on the Gospel Center's radio
	broadcast known as <i>Sunday Night Meditations</i>. The Gospel
	Center was one of two New Testament assemblies in Durham,
	N.C. at that time. These of course are not the latest digital
	stereo but are good quality mono. All are thought to be in the
	public domain. If any are possibly found to not be public
	domain, they will be promptly removed. If you feel that you
	are the copyright or royalty owner for any of these, please
	email info@voicesforChrist.org and we will address your
	concerns.</p> <hr />
      </div>

      <div id="leftcol">
	<ul>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-All-Hail-The-Power.mp3" title="Choir - All Hail The Power">Choir - All Hail The Power</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-All-Power-Is-Given.mp3" title="Choir - All Power Is Given">Choir - All Power Is Given</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-All-The-Way-My-Saviour-Leads-Me.mp3" title="Choir - All The Way My Saviour Leads Me">Choir - All The Way My Saviour Leads Me</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Almost-Persuaded.mp3" title="Choir - Almost Persuaded">Choir - Almost Persuaded</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-At-Calvary.mp3" title="Choir - At Calvary">Choir - At Calvary</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Banner-Of-The-Cross.mp3" title="Choir - Banner Of The Cross">Choir - Banner Of The Cross</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Behold-The-Stranger-At-The-Door.mp3" title="Choir - Behold The Stranger At The Door">Choir - Behold The Stranger At The Door</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Blessed-Assurance.mp3" title="Choir - Blessed Assurance">Choir - Blessed Assurance</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Bring-Them-In.mp3" title="Choir - Bring Them In">Choir - Bring Them In</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Christ-Arose.mp3" title="Choir - Christ Arose">Choir - Christ Arose</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Christ-Is-Risen.mp3" title="Choir - Christ Is Risen">Choir - Christ Is Risen</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Come-My-Soul.mp3" title="Choir - Come My Soul">Choir - Come My Soul</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Conquering-Now.mp3" title="Choir - Conquering Now">Choir - Conquering Now</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Depth-Of-Mercy.mp3" title="Choir - Depth Of Mercy">Choir - Depth Of Mercy</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Fairest-Lord-Jesus.mp3" title="Choir - Fairest Lord Jesus">Choir - Fairest Lord Jesus</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Have-Thine-Own-Way.mp3" title="Choir - Have Thine On Way">Choir - Have Thine On Way</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Head-That-Once-Was-Crowned-With-Thorns.mp3" title="Choir - Head That Once Was Crowned With Thorns">Choir - Head That Once Was Crowned With Thorns</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-He-Careth-For-You.mp3" title="Choir - He Careth For You">Choir - He Careth For You</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-He-Giveth-More-Grace.mp3" title="Choir - He Giveth More Grace">Choir - He Giveth More Grace</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-He-Is-Coming-Again.mp3" title="Choir - He Is Coming Again">Choir - He Is Coming Again</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-He-Is-So-Precious-To-Me.mp3" title="Choir - He Is So Precious To Me">Choir - He Is So Precious To Me</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-He-Lives-On-High.mp3" title="Choir - He Lives On High">Choir - He Lives On High</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-He-Will-Hold-Me-Fast.mp3" title="Choir - He Will Hold Me Fast">Choir - He Will Hold Me Fast</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Ho-Reapers.mp3" title="Choir - Ho Reapers">Choir - Ho Reapers</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-How-Can-I-But-Love-Him.mp3" title="Choir - How Can I But Love Him ?">Choir - How Can I But Love Him ?</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-I-Belong-To-The-King.mp3" title="Choir - I Belong To The King">Choir - I Belong To The King</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-I-Could-Not-Do-Without-Him.mp3" title="Choir - I Could Not Do Without Him">Choir - I Could Not Do Without Him</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-I-Heard-The-Voice.mp3" title="Choir - I Heard The Voice">Choir - I Heard The Voice</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-I-Know-My-Redeemer-Liveth.mp3" title="Choir - I Know That My Redeemer Liveth">Choir - I Know That My Redeemer Liveth</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-I-Know-Of-A-Name.mp3" title="Choir - I Know Of A Name">Choir - I Know Of A Name</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Im-Singing.mp3" title="Choir - I'm Singing">Choir - I'm Singing</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-I-Need-Thee.mp3" title="Choir - I Need Thee">Choir - I Need Thee</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-In-The-Sweet-Bye-n-Bye.mp3" title="Choir - In The Sweet Bye And Bye">Choir - In The Sweet Bye And Bye</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Is-My-Name-Written-There.mp3" title="Choir - Is My Name Written There ?">Choir - Is My Name Written There ?</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Is-There-Any-Room-For-Jesus.mp3" title="Choir - Is There Any Room For Jesus ?">Choir - Is There Any Room For Jesus ?</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Is-Your-All-On-The-Altar.mp3" title="Choir - Is Your All On The Altar ?">Choir - Is Your All On The Altar ?</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-It-Is-Well.mp3" title="Choir - It Is Well With My Soul">Choir - It Is Well With My Soul</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-I-Will-Sing-The-Wondrous-Story.mp3" title="Choir - I Will Sing The Wondrous Story">Choir - I Will Sing The Wondrous Story</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Jesus-Is-Calling.mp3" title="Choir - Jesus Is Calling">Choir - Jesus Is Calling</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Jesus-Is-Mine.mp3" title="Choir - Jesus Is Mine">Choir - Jesus Is Mine</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Jesus-Loves-Even-Me.mp3" title="Choir - Jesus Loves Even Me">Choir - Jesus Loves Even Me</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Just-As-I-Am.mp3" title="Choir - Just As I Am">Choir - Just As I Am</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Lead-On-O-King-Eternal.mp3" title="Choir - Lead On Oh King Eternal">Choir - Lead On Oh King Eternal</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Let-Jesus-Come-Into-Your-Heart.mp3" title="Choir - Let Jesus Come Into Your Heart">Choir - Let Jesus Come Into Your Heart</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Look-To-The-Lamb-Of-God.mp3" title="Choir - Look To The Lamb Of God">Choir - Look To The Lamb Of God</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Look-Ye-Saints.mp3" title="Choir - Look Ye Saints">Choir - Look Ye Saints</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Lord-Im-Coming-Home.mp3" title="Choir - Lord I'm Coming Home">Choir - Lord I'm Coming Home</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Love-Divine.mp3" title="Choir - Love Divine">Choir - Love Divine</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Love-Lifted-Me.mp3" title="Choir - Love Lifted Me">Choir - Love Lifted Me</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Majestic-Sweetness.mp3" title="Choir - Majestic Sweetness">Choir - Majestic Sweetness</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Man-Of-Sorrows.mp3" title="Choir - Man Of Sorrows">Choir - Man Of Sorrows</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Medly.mp3" title="Choir - Medley Assorted">Choir - Medley Assorted</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Medly-Choruses.mp3" title="Choir - Medley Choruses">Choir - Medley Choruses</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Medly-Hear-The-Good-News.mp3" title="Choir - Medley Hear The Good News">Choir - Medley Hear The Good News</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Medly-Safe-Am-I.mp3" title="Choir - Medley Safe Am I">Choir - Medley Safe Am I</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Medly-The-Blood.mp3" title="Choir - Medley The Blood">Choir - Medley The Blood</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-More-Love-To-Thee.mp3" title="Choir - More Love To Thee">Choir - More Love To Thee</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-My-Hope-Is-Built-On-Nothing-Less.mp3" title="Choir - My Hope Is Built On Nothing Less">Choir - My Hope Is Built On Nothing Less</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-No-Not-One.mp3" title="Choir - No Not One">Choir - No Not One</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Oh-For-A-Thousand-Tongues.mp3" title="Choir - Oh For A Thousand Tongues">Choir - Oh For A Thousand Tongues</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Oh-Listen-To-Our-Wondrous-Story.mp3" title="Choir - Oh Listen To Our Wondrous Story">Choir - Oh Listen To Our Wondrous Story</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Oh-Say-That-Im-Glad.mp3" title="Choir - Oh Say That I'm Glad">Choir - Oh Say That I'm Glad</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Oneday.mp3" title="Choir - One day">Choir - One day</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Only-In-Thee.mp3" title="Choir - Only In Thee">Choir - Only In Thee</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Out-Of-My-Bondage.mp3" title="Choir - Out Of My Bondage">Choir - Out Of My Bondage</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Praise-The-Lord.mp3" title="Choir - Praise The Lord">Choir - Praise The Lord</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Praise-The-Saviour.mp3" title="Choir - Praise The Saviour">Choir - Praise The Saviour</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Redeemed.mp3" title="Choir - Redeemed">Choir - Redeemed</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Revive-Us-Again.mp3" title="Choir - Revive Us Again">Choir - Revive Us Again</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Saved-By-The-Blood.mp3" title="Choir - Saved By The Blood">Choir - Saved By The Blood</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Saved-Saved-Saved.mp3" title="Choir - Saved Saved Saved">Choir - Saved Saved Saved</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Saviour-Lead-Me-Lest-I-Stray.mp3" title="Choir - Savoiur Lead Me Lest I Stray">Choir - Savoiur Lead Me Lest I Stray</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Shepherd-Of-Love.mp3" title="Choir - Shepherd Of Love">Choir - Shepherd Of Love</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Softly-And-Tenderly-Jesus-Is-Calling.mp3" title="Choir - Softly &amp; Tenderly Jesus Is Calling">Choir - Softly &amp; Tenderly Jesus Is Calling</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Sunset-Is-Coming-The-Sunrise-We-See.mp3" title="Choir - Sunset Is Coming The Sunrise We See">Choir - Sunset Is Coming The Sunrise We See</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Sweeter-As-The-Years.mp3" title="Choir - Sweeter As The Years Go By">Choir - Sweeter As The Years Go By</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Take-Time-To-Be-Holy.mp3" title="Choir - Take Time To Be Holy">Choir - Take Time To Be Holy</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Tell-Me-The-Old-Old-Story.mp3" title="Choir - Tell Me The Old Old Story">Choir - Tell Me The Old Old Story</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-That-Man-Of-Calvary.mp3" title="Choir - That Man Of Calvary">Choir - That Man Of Calvary</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-The-Fight-Is-On.mp3" title="Choir - The Fight Is On !">Choir - The Fight Is On !</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-The-Hallelujah-Chorus.mp3" title="Choir - The Hallelujah Chorus">Choir - The Hallelujah Chorus</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Tho-Your-Sins-Be-As-Scarlet.mp3" title="Choir - Tho Your Sins Be As Scarlet">Choir - Tho Your Sins Be As Scarlet</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Tis-So-Sweet-To-Trust-In-Jesus.mp3" title="Choir - Tis So Sweet To Trust In Jesus">Choir - Tis So Sweet To Trust In Jesus</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Trust-In-The-Lord.mp3" title="Choir - Trust In The Lord">Choir - Trust In The Lord</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Turn-Your-Eyes-Upon-Jesus.mp3" title="Choir - Turn Your Eyes Upon Jesus">Choir - Turn Your Eyes Upon Jesus</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-We-Shall-Shine-As-The-Stars.mp3" title="Choir - We Shall Shine As The Stars">Choir - We Shall Shine As The Stars</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-What-A-Friend-We-Have-In-Jesus.mp3" title="Choir - What A Friend We Have In Jesus">Choir - What A Friend We Have In Jesus</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-What-Did-He-Do.mp3" title="Choir - What Did He Do ?">Choir - What Did He Do ?</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-What-Will-You-Do-With-The-King.mp3" title="Choir - What Will You Do With The King ?">Choir - What Will You Do With The King ?</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-When-I-See-The-Blood.mp3" title="Choir - When I See The Blood">Choir - When I See The Blood</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-When-I-Survey.mp3" title="Choir - When I Survey The Wondrous Cross">Choir - When I Survey The Wondrous Cross</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-While-Jesus-Whispers.mp3" title="Choir - While Jesus Whispers">Choir - While Jesus Whispers</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Why-Do-You-Wait.mp3" title="Choir - Why Do You Wait ?">Choir - Why Do You Wait ?</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Why-Not-Say-Yes.mp3" title="Choir - Why Not Say Yes ?">Choir - Why Not Say Yes ?</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Wonderful-Name-He-Bears.mp3" title="Choir - Wonderful Name He Bears">Choir - Wonderful Name He Bears</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Wonderful-Words-Of-Life.mp3" title="Choir - Wonderful Words Of Life">Choir - Wonderful Words Of Life</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-Yesterday-Today-Forever.mp3" title="Choir - Yesterday Today Forever">Choir - Yesterday Today Forever</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Choir-BeholdYourKing-EasterCantata-1963.mp3" title="Choir - Behold Your King Cantata (33 minutes)">Choir - Behold Your King Cantata (33 minutes)</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Duet-Blessed-Redeemer-POP1976.mp3" title="Duet - Blessed Redeemer">Duet - Blessed Redeemer</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Duet-In-The-Hollow-Of-His-Hand.mp3" title="Duet - In The Hollow Of His Hand">Duet - In The Hollow Of His Hand</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Duet-Love-Divine.mp3" title="Duet - Love Divine">Duet - Love Divine</a></li>
	  <!--<li><a href="" title="Duet - He Was Nailed To The Cross">Duet - He Was Nailed To The Cross</a></li>-->
	  <li><a href="<%=AUDIO_URL%>/Hymns/Duet-Take-Up-Thy-Cross.mp3" title="Duet - Take Up Thy Cross">Duet - Take Up Thy Cross</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/MaleChorus-Glorious-Things-Of-Thee-Are-Spoken.mp3" title="Male Chorus - Glorious Things Of Thee Are Spoken">Male Chorus - Glorious Things Of Thee Are Spoken</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/MaleChorus-Whosoever-Will.mp3" title="Male Chorus - Whosoever Will">Male Chorus - Whosoever Will</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Quartet-Blood-Will-Never-Lose-Its-Power.mp3" title="Quartet - Blood Will Never Lose It's Power">Quartet - Blood Will Never Lose It's Power</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Quartet-I-Have-Been-Redeemed.mp3" title="Quartet - I Have Been Redeemed">Quartet - I Have Been Redeemed</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Quartet-Jesus-Paid-It-All.mp3" title="Quartet - Jesus Paid It All">Quartet - Jesus Paid It All</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Quartet-My-Anchor-Holds.mp3" title="Quartet - My Anchor Holds">Quartet - My Anchor Holds</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Quartet-Rock-Of-Ages.mp3" title="Quartet - Rock Of Ages">Quartet - Rock Of Ages</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Quartet-Unveiled-Christ.mp3" title="Quartet - Unveiled Christ">Quartet - Unveiled Christ</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Solo-D_Stallings-How-Great-Thou-Art.mp3" title="Solo - D. Stallings-How Great Thou Art">Solo - D. Stallings-How Great Thou Art</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Solo-D_Stallings-I-Know-Whom-I-Have-Believ_ed.mp3" title="Solo - D. Stallings-I Know Whom I Have Believed">Solo - D. Stallings-I Know Whom I Have Believed</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Solo-D_Stallings-I-Surrender-All.mp3" title="Solo - D. Stallings-I Surrender All">Solo - D. Stallings-I Surrender All</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Solo-D_Stallings-Jesus-Is-The-Sweetest-Name.mp3" title="Solo - D. Stallings-Jesus Is The Sweetest Name I Know">Solo - D. Stallings-Jesus Is The Sweetest Name I Know</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Solo-D_Stallings-Nothing-Between.mp3" title="Solo - D. Stallings-Nothing Between">Solo - D. Stallings-Nothing Between</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Solo-D_Stallings-The-Broken-Heart.mp3" title="Solo - D. Stallings-The Broken Heart">Solo - D. Stallings-The Broken Heart</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Solo-D_Stallings-The-Love-Of-God.mp3" title="Solo - D. Stallings-The Love Of God">Solo - D. Stallings-The Love Of God</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Solo-D_Stallings-Yield-Not-To-Temptation.mp3" title="Solo - D. Stallings-Yield Not To Temptation">Solo - D. Stallings-Yield Not To Temptation</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Solo-M_Greenhill-I-Want-To-See-My-Saviour.mp3" title="Solo - M. Greenhill-I Want To See My Savoiur">Solo - M. Greenhill-I Want To See My Savoiur</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Solo-M_Greenhill-Jesus-Wept.mp3" title="Solo - M. Greenhill-Jesus Wept">Solo - M. Greenhill-Jesus Wept</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Solo-M_Greenhill-More-Time-Alone.mp3" title="Solo - M. Greenhill-More Time Alone">Solo - M. Greenhill-More Time Alone</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Solo-M_Greenhill-Song-Of-The-Soul-Set-Free.mp3" title="Solo - M. Greenhill-Song Of The Soul Set Free">Solo - M. Greenhill-Song Of The Soul Set Free</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Trio-Its-Not-An-Easy-Road.mp3" title="Trio - It's Not An Easy Road">Trio - It's Not An Easy Road</a></li>
	  <!--<li><a href="" title="Trio - Medley Assorted">Trio - Medley Assorted</a></li>-->
	  <li><a href="<%=AUDIO_URL%>/Hymns/Trio-Medly-On-The-Rock.mp3" title="Trio -Medley On The Rock">Trio -Medley On The Rock</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Trio-Medly-Peace.mp3" title="Trio - Medley Peace">Trio - Medley Peace</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Trio-Thank-God-For-Jesus.mp3" title="Trio - Thank God For Jesus">Trio - Thank God For Jesus</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Trio-Turn-Your-Eyes-Upon-Jesus.mp3" title="Trio - Turn Your Eyes Upon Jesus">Trio - Turn Your Eyes Upon Jesus</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Trio-When-He-Calls-Me.mp3" title="Trio - When He Calls Me">Trio - When He Calls Me</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Music-Bristol-Conf-1977.mp3" title="Bristol Conference Music - 1977">Bristol Conference Music - 1977</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Music-Skyland-Conf-1979.mp3" title="Skyland Conference Music-1979">Skyland Conference Music-1979</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Music-Skyland-Conf-1980.mp3" title="Skyland Conference Music-1980">Skyland Conference Music-1980</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/Music-Skyland-Conf-1981.mp3" title="Skyland Conference Music-1981">Skyland Conference Music-1981</a></li>
	  <li><a href="<%=AUDIO_URL%>/Hymns/ValleyBibleChapelConcert1981.mp3">Valley Bible Chapel Concert - 1981</a></li>
	</ul>
      </div>

      <div id="rightcol">
	<img src="<%=PHOTOS_URL%>/hymns/gospelcenter-chapelchoir1.gif" width="338" height="302" alt="Gospel Choir" title="Gospel Choir"/>
        <img src="<%=PHOTOS_URL%>/hymns/gospelcenter-building.jpg" width="337" height="263" alt="Gospel Center" title="Gospel Center"/> 
        <img src="<%=PHOTOS_URL%>/hymns/gospelcenterchapel.gif" width="335" height="261" alt="Gospel Center Chapel" title="Gospel Center Chapel"/>  
        <img src="<%=PHOTOS_URL%>/hymns/gospelcenter-detweiler.jpg" width="336" height="322" alt="Welcome Detweiler" title="Welcome Detweiler"/>
        <img src="<%=PHOTOS_URL%>/hymns/gospelcenter-dr-ironside.jpg" width="333" height="250" alt="Mr. and Mrs. Ironside" title="Mr. and Mrs. Ironside"/>
        <img src="<%=PHOTOS_URL%>/hymns/gospelcenterfront1.JPG" width="332" height="267" alt="Gospel Center Front" title="Gospel Center Front"/>
        <img src="<%=PHOTOS_URL%>/hymns/GOSPELCENTER-MELPIERCE.gif" width="331" height="260" alt="Mel Pierce" title="Mel Pierce"/>
        <img src="<%=PHOTOS_URL%>/hymns/GOSPELCENTER-RADIOCHOIR.JPG" width="330" height="199" alt="Radio Choir" title="Radio Choir"/> 
        <img src="<%=PHOTOS_URL%>/hymns/GOSPELCENTER-SUN1950.gif" width="330" height="273" alt="A Sunday in 1950" title="A Sunday in 1950"/>
        <img src="<%=PHOTOS_URL%>/hymns/gospelcenter-open_day1945.jpg" width="331" height="271" alt="Gospel Center opening day 1945" title="Gospel Center opening day 1945"/>
        <img src="<%=PHOTOS_URL%>/hymns/gospelcenter_view.jpg" width="330" height="272" alt="Gospel Center view" title="Gospel Center view"/>
        <img src="<%=PHOTOS_URL%>/hymns/gospel-center-1951.jpg" width="332" height="273" alt="Gospel Center 1951" title="Gospel Center 1951"/>
      </div>
