<tr>
  <td class='audio-control'>
    <%= link_to(
        icon(:arrow_down, :title => 'Download MP3'),
        {:controller => :audio_messages, :action => :show, :id => item, :dl => true}) %>
    <span class='player' onclick="$('#jpid').jPlayer("setMedia","<%= url_for(:controller => :audio_messages, :action => :show, :id => item)%>")"><%= image_tag 'pixel.gif'%></span>
  </td>
  <td><%= item.speaker.catalog_name %></td>
  <td title='<%= "Size #{item.human_filesize}, duration #{item.human_duration}" %>'>
     <%= item.full_title %>
     <% if item.created_at > (DateTime.now - 30)%>
        <span class='new-item'>New</span>
     <% end %>
     <% if item.tag_list.size > 0 %>
       ~
       <span class="taglist">
         <% item.tag_list.sort.each do |tag| %>
           <span class="tag"><%= tag %></span>
         <% end %>
       </span>
     <% end %>
  </td>
  <td><%= item.human_date %></td>
  <td><%= item.place ? item.place.name : '' %></td>
  <td><%= flags_for_lang(item.language.name, :class => 'flag') if item.language %></td>
</tr>
