<tr class='<%=cycle("odd","even")%>'>
  <td>
    <a href="<%=AUDIO_URL%>/<%=item.filename%>" title="<%= item.full_title %>">
      <%= icon :arrow_down, :title => 'Download MP3' %>
    </a>
    <%= icon :cd_add, :title => 'Add to CD List' %>
    <%= icon :heart_unselected, :title => 'Favorite' %>
    </a>
  </td>
  <!--
  <td><%= item.filename %></td>
  <td><%= item.groupmsg %></td>
  -->
  <td><%= item.speaker.catalog_name %></td>
  <td>
     <%= item.full_title %>
     <% if item.created_at > (DateTime.now - 30)%>
        <span class='new'>NEW</span>
     <% end %>
  </td>
  <td><%= item.human_filesize %></td>
  <td><%= item.human_duration %></td>
  <td><%= item.human_date %></td>
  <td><%= item.place ? item.place.name : '' %></td>
  <td><%= flags_for_lang(item.language.name, :class => 'flag') if item.language %></td>
</tr>
