<tr>
  <td>
    <%= link_to(
        icon(:arrow_down, :title => 'Download MP3'),
        {:controller => :audio_messages, :action => :show, :id => item, :dl => true}) %>
    <%= link_to(
        icon(:control_play_blue, :title => 'Play MP3'),
        {:controller => :audio_messages, :action => :show, :id => item}) %>
    <!--
    <%= icon :cd_add, :title => 'Add to CD List' %>
    <%= icon :heart_unselected, :title => 'Favorite' %>
    <%= render :partial => "/audio_messages/player", :locals => { :item => item } %>
    -->
    </a>
  </td>
  <td><%= item.speaker.catalog_name %></td>
  <td title='<%= "Size #{item.human_filesize}, duration #{item.human_duration}" %>'>
     <%= item.full_title %>
     <% if item.created_at > (DateTime.now - 30)%>
        <span class='new'>NEW</span>
     <% end %>
     <% if item.tag_list.size > 0 %>
       ~
       <span class="taglist">
         <% item.tag_list.sort.each do |tag| %>
           <span class="tag"><%= tag %></span>
         <% end %>
       </span>
     <% end %>
  </td>
  <td><%= item.human_date %></td>
  <td><%= item.place ? item.place.name : '' %></td>
  <td><%= flags_for_lang(item.language.name, :class => 'flag') if item.language %></td>
</tr>
