<tr class='<%=cycle("odd","even")%>'>
  <td>
    <a href="/VFC-GOLD/<%=item.filename%>" title="Download the mp3">
      <img src="/images/listen.gif"/>
    </a>
  </td>
  <!--
  <td><%=h item.filename %></td>
  <td><%=h item.groupmsg %></td>
  -->
  <td><%=h item.speaker.catalog_name %></td>
  <td>
     <%=h item.title %>
     <% if item.add_date > (DateTime.now - 30)%>
        <span class='new'>NEW</span>
     <% end %>
  </td>
  <td><%=h item.filesize/1024/1024 %> Mb</td>
  <td><%=h item.duration %></td>
  <td><%=h item.year %></td>
  <td><%=h item.place ? item.place.name : '' %></td>
  <td><%=h item.language.name %></td>
</tr>