<tr>
  <td class='audio-control'>
    <%= link_to(
        icon(:arrow_down, :title => 'Download MP3'),
        {:controller => :audio_messages, :action => :show, :id => item, :dl => true}) %>
    <span class='player' onclick="play('<%= url_for(:controller => :audio_messages, :action => :show, :id => item)%>','<%=j item.full_title%>')">
       <%= image_tag 'pixel.gif', :title => 'Play' %>
    </span>
  </td>
  <td>
    <%= link_to item.speaker.catalog_name, speaker_path(item.speaker) %>
  </td>
  <td title='<%= "Size #{item.human_filesize}, duration #{item.human_duration}" %>'>
     <%= item.full_title %>
     <% if item.created_at > (DateTime.now - 30)%>
        <span class='new-item'>New</span>
     <% end %>
     <% if item.tag_list.size > 0 %>
       <span class="taglist">
         <% item.tag_list.sort.each do |tag| %>
           <span class="tag"><%= link_to tag, tag_path(tag), :title => "Search messages tagged with #{tag}" %></span>
         <% end %>
       </span>
     <% end %>
  </td>
  <%= optional_cell(item.human_date) %>
  <% if item.place %>
    <td><%= link_to(item.place.name, place_path(item.place))%></td>
  <% else %>
    <%= unavailable_cell %>
  <% end %>
  <td><%= flags_for_lang(item.language.name, :class => 'flag') if item.language %></td>
</tr>
