<% title(t("menu.dates")) %>
<p class="alpha-index"><%= t(".organized") + t(".by_year") + ". " + t(".other_list") %>  <%= link_to t(".by_added"), {:action => :years} %>, <%= t(".jump_to") %> <%= link_to t(".recent_additions"), {:action => :show, :id => @latest_addition_date.strftime("%Y-%m") } %>.</p>
<ul>
<% @dates.keys.each do |year| %>
   <li><%= year %>, <%= link_to pluralize(@dates[year],t(:message)), {:action => :year, :id => year } %></li>
<% end %>
</ul>