<% title(t("menu.dates")) %>
<p class="alpha-index"><%= t("dates.index.organized") + t("dates.index.by_added") + ". " + t("dates.index.other_list") %>  <%= link_to t("dates.index.by_year"), {:action => :index} %>, <%= t("dates.index.jump_to") %> <%= link_to t("dates.index.recent_additions"), {:action => :show, :id => @latest_addition_date.strftime("%Y-%m") } %>.</p>
<ul>
<% @dates.each do |date,total| %>
  <li>
    <%= date %>, <%= pluralize(total,t(:message)) %>
    <ul>
      <% @speakers_by_date[date].each_with_index do |s,i| %>
        <% if i < 10 %>
           <li><%= s.catalog_name %> <%=link_to pluralize(s.active_message_count,t(:message)), {:action => :speaker, :date => date, :speaker_id => s.id}  %></li>
        <% else %>
          <li><%= "(+#{@speakers_by_date[date].size-10})" %> <%= link_to t(".all_for_date_html", :date => date), "/dates/show/#{date}" %></li>
          <% break %>
        <% end %>
      <% end %>
    </ul>
  </li>
<% end %>
<% unless params[:years] %>
  <li><%= link_to "Older", {:action => :years, :years => 6 } %></li>
<% end %>
</ul>
