<%- title("Languages") -%>
<ul>
<%- @languages.each do |lang| %>
  <li>
    <%= lang.name %> <%= flags_for_lang lang.name,{:class => 'flag'} %>
       <%= link_to pluralize(@language_counts[lang.id],'message'),
             "/languages/show/#{lang.id}" %>,
       <%= link_to pluralize(lang.speakers.count,'speaker'),
             "/languages/#{lang.id}/speakers" %>
    <ul>
      <%- bslice = rand([lang.speakers.count-@limit,0].max) -%>
      <%- lang.speakers[bslice..(bslice+@limit)].each do |speaker| -%>
        <li><%= speaker.catalog_name %> <%= link_to pluralize(@speakers_counts[lang.id][speaker.id],'message'), "/speakers/#{speaker.id}/language/#{lang.id}" %></li>
      <%- end -%>
      <%- if @speakers_counts[lang.id].size > @limit -%>
        <li><%= link_to 'More ...',"/languages/#{lang.id}/speakers"%></li>
      <%- end -%>
    </ul>
  </li>
<%- end -%>
</ul>