<% if @items && @items.size > 0 %>
<%= (page_entries_info @items).html_safe %> <%= t(:matching)%> '<%= @query_title %>'
<% if (@speaker && (@place || @date || @language)) %>
  <br />
  <%= t(:all_by_speaker)%> <%= link_to(@speaker.full_name,speaker_path(@speaker)) %>,
  <% if @place %>
     <%= t(:all_in_place)%> <%= link_to(@place.name,place_path(@place)) %>
  <% elsif @date %>
     <%= t(:all_on_date)%> <%= link_to(@date,"/dates/year/#{@date}") %>
  <% elsif @language %>
     <%= t(:all_in_language)%> <%= link_to(@language.name,language_path(@language)) %>
  <% end %>
<% end %>  
<%= will_paginate @items, :id => true, :class => 'apple_pagination' %>
<table id="msgtable" class="sortable msglist">
  <%= render '/audio_messages/audio_table_head' %>
  <tbody>
    <% @items.each do |item| %>
      <%= render :partial => '/audio_messages/audio_item', :locals => {:item => item} %>
    <% end %>
  </tbody>
</table>
<%= will_paginate @items, :id => true, :class => 'apple_pagination' %>
<br />
<% end %>
