<% if @place && @place.bio -%>
   <div id='place-bio-<%=@place.id%>' class='bio'>
     <div class='bio-text'>
       <% if @place.picture_file %>
         <%= image_tag "#{PHOTOS_URL}/#{@place.picture_file}" %>
       <% end %>
       <%= @place.bio_html.html_safe %>
     </div>
     <div id='other-place-stuff'>
       <% if @place.name.index(/Horton|Greenwood/) %>
       <div class="fb-share-button" data-type="button_count"
            data-href="<%= request.protocol +
              request.host_with_port%>/places/<%= @place.id %>">
       </div>
       <% content_for :head do %>
         <meta property='og:image' content='<%= "#{request.protocol}#{request.host_with_port}#{PHOTOS_URL}/#{@place.picture_file}" %>' />
         <meta property='og:description' content='<%= @place.bio_snippet(240)%>... <%= @place.audio_messages.size %> audio messages available in mp3 format.' />
         <meta property='og:url' content='<%= "#{request.protocol}#{request.host_with_port}/places/#{@place.id}"%>'/>
       <% end %>
       </div>
       <% end %>
     </div>
   </div>
<% end -%>
