<% if @speaker && (!@speaker.bio.blank? || @speaker.videos.count > 0 || @speaker.writings.count > 0 || @speaker.notes.count > 0) -%>
   <div id='speaker-bio-<%=@speaker.id%>' class='bio'>
     <div class='bio-text'>
        <% unless @speaker.picture_file.blank? %>
          <%= image_tag "#{PHOTOS_URL}/#{@speaker.picture_file}" %>
        <% end %>
        <% if @speaker.bio %>
          <%= @speaker.bio_html.html_safe %>
        <% else %>
          <h3><%= @speaker.full_name %></h3>
        <% end %>
     </div>
     <div id='other-speaker-stuff'>
       <% if @speaker.videos.count > 0 %>
         <p>There are <%= link_to "#{@speaker.videos.count} videos available", "/videos/speaker/#{@speaker.id}" %></p>
       <% end %>
       <% if @speaker.writings.count > 0 %>
         <p>There are <%= link_to "#{@speaker.writings.count} articles available", "/writings/speaker/#{@speaker.id}"%></p>
       <% end %>
       <% if @speaker.notes.count > 0 %>
         <p>There <%= @speaker.notes.count > 1 ? 'are' : 'is'%>
              <%= link_to "#{pluralize(@speaker.notes.count,t(:message))} or series with notes attached", "/notes/audio/#{@speaker.id}"%>, List of <%= link_to "notes","/notes/speaker/#{@speaker.id}" %></p>
       <% end %>
       <% if @speaker.last_name == 'Price' %>
       <div class="fb-share-button" data-type="button_count"
            data-href="<%= request.protocol +
              request.host_with_port%>/speakers/<%= @speaker.id %>">
       </div>
       <% content_for :head do %>
         <meta property='og:image' content='<%= "#{request.protocol}#{request.host_with_port}#{PHOTOS_URL}/#{@speaker.picture_file}" %>' />
         <meta property='og:description' content='<%= @speaker.bio_snippet(240) %>... <%= @speaker.audio_messages.size %> audio messages available in mp3 format' />
         <meta property='og:url' content='<%= "#{request.protocol}#{request.host_with_port}/speakers/#{@speaker.id}"%>'
       <% end %>
       <% end %>
     </div>
   </div>
<% end -%>
