<% title(t("menu.advanced_search")) %>


<fieldset>
  <legend><%= t("menu.advanced_search") %></legend>
  <%= form_tag :action => 'advanced_search' do %>

     <p><em><%= t ".form_instructions_html"%></em></p>
    
     <p>
       <label for="title" class="col1"><%=t ".title_field"%>:</label>
       <%= text_field_tag :title, params[:title], :size => 50 %>
     </p>
     <p>
       <label for="speaker" class="col1"><%=t ".speaker_field"%>:</label>
       <%= text_field_tag :speaker, params[:speaker], :size => 50 %>
     </p>
     <p>
       <label for="place" class="col1"><%=t ".place_field"%>:</label>
       <%= text_field_tag :place, params[:place], :size => 50 %>
     </p>
     <p>
       <label for="tags" class="col1"><%=t ".tags_field"%>:</label>
       <%= text_field_tag :tags, params[:tags], :size => 50 %>
     </p>
     <p>
       <label for="event_date" class="col1"><%=t ".event_date_field"%>:</label>
       <%= text_field_tag :event_date, params[:event_date], :size => 50 %>
     </p>
     <p>
       <label for="language" class="col1"><%=t ".language_field"%>:</label>
       <%= text_field_tag :language, params[:language], :size => 50 %>
     </p>

     <p>
       <label for="exact_match" class="col1"><%=t ".match_mode"%>:</label>
       <%= check_box :exact_match, 'true', :checked => true%>
     </p>       
     
     <p>
       <%= submit_tag t(".submit"), :class => "Submit" %>
     </p>
  <% end %>
</fieldset>
