<% title(t("title.password_reset")) %>
  <fieldset>
     <legend><%= t "title.password_reset"%></legend>

     <%= form_tag :action => 'reset_password' do %>

        <p><em><%= t ".form_instruction"%></em></p>
        <p>
          <label for="email" class="col1"><%=t ".email"%>:</label>
          <%= text_field_tag :email, params[:email], :size => 50 %>
        </p>

        <p>
          <%= submit_tag t(".submit"), :class => "Submit" %>
        </p>

   <% end %>
 </fieldset>
