<% title(t ".title") %>
  <fieldset>
     <legend><%= t(".title")%></legend>

     <p><em><%= t(".form_instruction")%> <%= link_to t(".create_account"), :controller => 'users', :action => 'new' %></em></p>
   
     <%= form_tag do %>
        <p>
          <label for="email" class="col1"><%= t(".email")%>:</label>
          <%= text_field_tag :email, params[:email], :size => 50 %>
        </p>

        <p>
          <label for="password" class="col1"><%= t(".password")%>:</label>
          <%= password_field_tag :password, params[:password], :size => 50 %>
        </p>

        <p>
          <%= submit_tag t(".submit"), :class => "Submit" %>
        </p>

        <p><em><%= t("title.password_reset")%>? <%= link_to t(".forgotten_link"), :controller => 'login', :action => 'forgotten_password' %></em></p>

   <% end %>
 </fieldset>
