<% @letter = '!' %>
<% @speakers.each do |speaker| %>
  <% if @letter != speaker.index_letter %>
    <% @letter = speaker.index_letter %>
    <% if @letter != '!'  %>
      </ul>
    <% end %>
    <a name='<%=@letter%>'/>
    <%= render 'alphaindex' %>
    <ul>
  <% end %>
  <li>
    <%=h speaker.catalog_name %>
    <%= link_to "~ bio",'#' if speaker.bio %>
      ~ <%= link_to pluralize(@message_counts[speaker.id],'message'), "/speakers/show/#{speaker.id}" %>
  </li>
<% end %>
</ul>
