<% title(t("menu.speakers")) %>
<% @letter = '!' %>
<%= link_to t(".as_cloud"), :action => :index, :view => :cloud %>
<% if allow? "speakers","create" %>
  <%= link_to "New speaker", :action => :new %>
<% end %>  
<% @speakers.each do |speaker| %>
  <% if @letter != speaker.index_letter %>
    <% @letter = speaker.index_letter %>
    <% if @letter != '!'  %>
      </ul>
    <% end %>
    <%= render :partial => 'shared/alphaindex', :locals => { :skip_top_link => @letter == 'A', :current_letter => @letter } %>
    <ul>
  <% end %>
  <li>
    <%= speaker.catalog_name %>
      ~ <%= link_to pluralize(speaker.active_message_count,t(:message)), "/speakers/show/#{speaker.id}" %>
      <% if allow? "speakers","edit" %>
        (<%= link_to "edit", :action => :edit, :id => speaker.id %>)
      <% end %>
      <span><%= speaker.bio_snippet %></span>
  </li>
<% end %>
</ul>
