<h2>Edit Place</h2>

<% if (@place && !@place.new_record?) %>
   <h3><%= link_to "View #{@place.name}", "/places/#{@place.id}" %></h3>
<% end %>
<br />

<%= form_for @place do |f| %>

  <% if allow_param? :speaker, :name %>
  <%= f.label :name %>
  <%= f.text_field :name, :size => 20 %>
  <br />
  <% end %>

  <% if allow_param? :speaker, :cc %>
  <%= f.label :cc %>
  <%= f.text_field :cc, :size => 2 %>
  <br />
  <% end %>

  <% if allow_param? :speaker, :picture_file %>
  <%= f.label :picture_file %>
  <%= f.text_field :picture_file, :size => 50 %>
  <br />
  <% end %>

  <% if allow_param? :speaker, :bio %>
  <%= f.label :bio %>
  <%= f.text_area :bio %>
  <br />
  <% end %>

  <%= f.submit %>

<% end %>
  
