<% title(t("menu.places")) %>
<ul>
  <% if allow? "places", "create" %>
     <li><%= link_to "New Place", :action => :new %></li>
  <% end %>
<% @places.each do |place| %>
  <li>
    <%= place.name %>:
       <%=link_to  pluralize(place.active_message_count,t(:message)),"/places/#{place.id}" %> by
       <%= link_to pluralize(place.active_speaker_count,t(:speaker)), "/places/#{place.id}/speakers"%>
       <% if allow? "places","edit" %>
         (<%= link_to "edit", :action => :edit, :id => place%>)
       <% end %>
       <span><%= place.bio_snippet %></span>
  </li>
<% end %>
</ul>
