<!DOCTYPE html>  
<html>
  <head>
    <title><%= content_for?(:title) ? t("title.prefix") + yield(:title) : t("title.vfc")  %></title>
    <meta charset="utf-8"/>
    <link rel="shortcut icon" href="<%= asset_path 'vfc.ico'%>" type="image/x-icon" />
    <%= stylesheet_link_tag "application", :media => 'all' %>
    <%= javascript_include_tag "application" %>  
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
    <%= render "shared/analytics" %>
  </head>
  <body>
    <div id="wrap">
      <div id="header">
        <ul id="sidenav">
          <li><%= link_to t("menu.home"), root_path %></li>
          <li><%= link_to t("menu.featured"), '/featured' %></li>
          <li><%= link_to t("menu.speakers"), '/speakers' %></li>
          <li><%= link_to t("menu.places"), '/places' %></li>
          <li><%= link_to t("menu.dates"), '/dates' %></li>
          <li><%= link_to t("menu.languages"), '/languages' %></li>
          <li><%= link_to t("menu.writings"), '/writings' %></li>
          <li><%= link_to t("menu.hymns"), '/hymns' %></li>
          <li><%= session[:user_id] ? link_to(t("menu.account"), '/user') : link_to(t("menu.login"), '/login') %></li>
        </ul>
        <%= link_to localized_logo_image_tag,root_path %>
        <%- if show_title? -%>
          <h1 class="content"><%= yield(:title) %></h1>
          <h2 class="content"><%= yield(:subtitle) %></h2>
        <%- end -%>
        <p id="tagline"><%= @tagline %><br />&nbsp;&nbsp;<%= @tagline2 %></p>
      </div>

      <%= render "shared/search_form" %>
      
      <%- flash.each do |name,msg| -%>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>

      <% if @require_video_player %>
        <%= render "shared/video_player" %>
      <% else %>
        <%= render "shared/player" %>
      <% end %>
      
      <div id="content">
        <%= yield %>
      </div>
    </div>
    <div id="footer">
      <ul id="botnav">
        <li><%= link_to t('menu.about'), '/welcome/about' %></li>
	<li><%= link_to t('menu.contact'), '/welcome/contact' %></li>
	<li><%= link_to t('menu.news'), '/welcome/news' %></li>
        <li id="copy"><%= t("title.copyright_html", :endyear => Time.now.year) %></li>
      </ul>
    </div>
  </body>
</html>
