<!DOCTYPE html>  
<html>
  <head>
    <title><%= content_for?(:title) ? t("title.prefix") + yield(:title) : t("title.vfc")  %></title>
    <meta charset="utf-8"/>
    <link rel="shortcut icon" href="<%= asset_path 'vfc.ico'%>" type="image/x-icon" />
    <%= stylesheet_link_tag "application", :media => 'all' %>
    <%= javascript_include_tag "application" %>  
    <%= csrf_meta_tag %>
  </head>
  <body id="popup-body">
    <div id="wrap">
      <%= yield %>
    </div>
  </body>
</html>
